html,
body{
  height: 100%;
}

body{
  font-size: 18px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background:  #0079BF;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.container{
  margin: 0 auto;
  position: relative;
  width: 95%;
  max-width: 1152px;
  display: flex;
  height: 100%;
}
.container_scroll{
  overflow-x: scroll;
}
.container_scroll::-webkit-scrollbar-track {border-radius: 4px; background: #fff;}
.container_scroll::-webkit-scrollbar {width: 12px; height: 12px;}
.container_scroll::-webkit-scrollbar {height: 12px;}
.container_scroll::-webkit-scrollbar-thumb {border-radius: 5px;background: #CBCBCB;}

.wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a{
  text-decoration: none;
}

h1,
h2,
h3,
h5,
h6{
  margin-top: 0;
  font-weight: normal;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

ul{
  padding: 0;
  margin: 0;
  
}

li{
  list-style: none;
}

p{
  padding: 0;
  margin: 0;
}

footer{
  position: relative;
  width: 100%;
}

*{
  box-sizing: border-box;
}



